.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vm;
    height: 80vh;
    position: relative;
  }

  .bannerText{
    color: white;
    font-family: "Monaco", Monospace;
    position: relative;
    top: 60px;
    z-index: 20;
    text-align: center;
  }