.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vm;
    height: 80vh;
    position: relative;
  }

  .bannerText{
    color: rgb(0, 0, 0);
    font-family: "Monaco", Monospace;
    position: relative;
    top: 80px;
    z-index: 20;
    text-align: center;
  }