.menucontainerleft { 
    height: 50px; 
    background-color: #334155;
    color: rgb(243, 249, 255);
    position: fixed;
    font-family: "Monaco", Monospace;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    /* border-top: 1px solid ☐lightgrey; 
    border-bottom: 1px solid lightgrey;  */
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}

.menucontainerright { 
    height: 50px; 
    /* background-color: darkslateblue; */
    background-color: #4b4d38;
    /* background-color: #334155; */
    color: rgb(243, 249, 255);
    position: fixed;
    font-family: "Monaco", Monospace;
    top: 0px;
    /* left: 0px; */
    right: 0px;
    z-index: 30;
    /* border-top: 1px solid ☐lightgrey; 
    border-bottom: 1px solid lightgrey;  */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logoimg {
    height: 100%;
    width: auto;
}

.itemcontainer { 
    width: 120px; 
    text-align: center;
    margin-top: auto; 
    margin-bottom: auto; 
    font-family: "Monaco", Monospace;
    font-size: 12px;
    /* color: rgb(243, 249, 255); */
}
